[Unit]
Description=Start the Rhasspy Satellite
DefaultDependencies=no
After=network.target
Wants=network.target

[Service]
Type=simple
Environment="PATH=/mnt/persist/rhasspy/bin:/usr/bin:/usr/sbin"
ExecStart=/bin/sh -c "/mnt/persist/rhasspy/bin/rhasspy-voltron --user-profiles /mnt/persist/skiff/profiles --profile en 2>&1 | tee"
Restart=on-failure
RestartSec=15
TimeoutStartSec=infinity
RemainAfterExit=true
